<?xml version="1.0" ?>
<bindings xmlns="http://www.mozilla.org/xbl" xmlns:xul="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul" xmlns:xbl="http://www.mozilla.org/xbl">
	<binding id="listitem" extends="chrome://global/content/bindings/richlistbox.xml#richlistitem">
		<content>
			<xul:image class="eyeball" />
			<xul:label class="listcell-label" flex="1" xbl:inherits="value=label" />
		</content>
		<implementation>
			<field name="eyeball">document.getAnonymousElementByAttribute(this, "class", "eyeball")</field>
		</implementation>
		<handlers>
			<handler event="click" button="0"><![CDATA[
				if (event.originalTarget == this.eyeball) {
					if (this.classList.toggle("hidden")) {
						MenuFilter.hiddenItems.add(windowURL, menuID, this.value);
					} else {
						MenuFilter.hiddenItems.remove(windowURL, menuID, this.value);
					}
				}
			]]></handler>
		</handlers>
	</binding>
	<binding id="listseparator" extends="#listitem">
		<content>
			<xul:image class="eyeball" />
			<xul:hbox flex="1" />
		</content>
	</binding>
	<binding id="listmenu" extends="#listitem">
		<content>
			<xul:image class="eyeball" />
			<xul:label class="listcell-label" flex="1" xbl:inherits="value=label" />
			<xul:image class="menuarrow" />
		</content>
	</binding>
</bindings>
