page {
	padding: 1em;
}
#menuid > menupopup > menuitem[disabled] {
	display: none;
}
.firefox,
.thunderbird,
.seamonkey {
	display: none;
}
page.isfirefox .firefox,
page.isthunderbird .thunderbird,
page.isseamonkey .seamonkey {
	display: initial;
}
listbox#menu {
	width: 25em;
}
listitem {
	padding: 2px;
}
listitem.menu {
	-moz-binding: url("chrome://menufilter/content/menu.xml#listmenu");
}
listitem.separator {
	-moz-binding: url("chrome://menufilter/content/menu.xml#listseparator");
}
listitem.separator hbox {
	border-top: 1px windowtext solid;
}
listitem.hidden {
	color: graytext;
}
listitem.hidden.separator hbox {
	border-top: 1px graytext solid;
}
